body {
    font-family: Arial, sans-serif;
    background-color: #dc77f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;

    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
}

button {
    padding: 8px 16px;
    background-color: #3503a8;
    color: #fff;
    border: none;
    cursor: pointer;
}

#password {
    margin-top: 15px;
}
